body {
  background-image: linear-gradient(#ae34eb, #eb34b4);
  height: auto;
  max-width: 100vmax;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5vmin;
  border-width: 2.5vmin;
  border-style: solid;
  border-image: linear-gradient(#eb7734, #fffed9);
  border-image-slice: 30%;
  margin: 5%;
  padding: 5%;
}
.small-page-body {
  height: 100vh;
  max-width: 100vmax;
}

nav {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  margin: 5vh 0px 5vh 0px;
}
.link-box {
  display:inline-block;
  height: 8vh;
  border-color: #F2A66E;
  border-radius: 5px;
  border-width: 10px;
  border-style: solid;
  background-color: #F2A66E;
  padding: 5px;
  margin: 5px;
}
#honey-bee-image-border {
  width: 40vmin;
  height: auto;
  margin-top: 7vmin;
  border-color: #F2A66E;
  border-radius: 50%;
  border-width: 2.5vmin;
  border-style: solid;
  margin: 5px;
}
.image-border {
  border-color: #F2A66E;
  border-width: 1vmin;
  border-radius: 5px;
  border-style: solid;
}
.text-box-fill {
  text-align: left;
  background-color: #f5f5f5;
  border-color: thistle;
  border-width: 1vmin;
  border-radius: 5px;
  border-style: solid;
  padding:10px;
  margin: 10px 0px 10px 0px;
}
.text-box-fill-centre {
  text-align: center;
  background-color: #f5f5f5;
  border-color: thistle;
  border-width: 1vmin;
  border-radius: 5px;
  border-style: solid;
  padding:10px;
}
.orange-heading {
  color: #F2A66E;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-color: #F2A66E;
  border-width: 1vmin;
  border-radius: 5px;
  border-style: solid;
}
.orange-heading-2 {
  text-align: left;
  color: #F2A66E;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.orange-heading-3 {
  color: #F2A66E;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.fixed-pos-button {
  position: fixed;
  top: 2.5vh;
  left: 2.5vw;
  border-color: #6ef288;
  border-radius: 5px;
  border-width: 10px;
  border-style: solid;
  background-color: #F2A66E;
  padding: 5px;
}
.table-compare {
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 background-color: #f5f5f5;
 border-color: thistle;
 border-width: 1vmin;
 border-radius: 5px;
 border-style: solid;
 padding:10px;
 margin: 10px
}
.table-grid {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #f5f5f5;
  border-color: thistle;
  border-width: 1vmin;
  border-radius: 0px;
  border-style: solid;
  padding:10px;
  margin: 10px

}
.table-flexbox {
  display: flex;
  justify-content: center;
}
.inline-span-example {
  display: inline;
  color: #6ef288;
  padding: 10px;
  border-style: solid;
  border-color: #6ef288;
  border-width: 10px;
  border-radius: 5px;
}
.inline-block-span-example {
  display: inline-block;
  height: 100px;
  width: 100px;
  color: #6ef288;
  padding: 10px;
  border-style: solid;
  border-color: #6ef288;
  border-width: 10px;
  border-radius: 5px;
}
.inline-block-span-red {
  display: inline-block;
  height: 100px;
  width: 100px;
  color: #ff1e00;
  padding: 10px;
  border-style: solid;
  border-color: #ff1e00;
  border-width: 10px;
  border-radius: 5px;
}
.inline-block-span-blue {
  display: inline-block;
  height: 100px;
  width: 100px;
  color: #0269f8;
  padding: 10px;
  border-style: solid;
  border-color: #0269f8;
  border-width: 10px;
  border-radius: 5px;
}
