body {
  background-image: linear-gradient(#ae34eb, #eb34b4);
  height: auto;
  max-width: 100vmax;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5vmin;
  border-width: 2.5vmin;
  border-style: solid;
  border-image: linear-gradient(#eb7734, #fffed9);
  border-image-slice: 30%;
  margin: 5%;
  padding: 5%;
}
section {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;

}
.link-box {
  border-color: #F2A66E;
  border-radius: 5px;
  border-width: 10px;
  border-style: solid;
  background-color: #F2A66E;
  padding: 5px;
  margin: 5px;
}
#honey-bee-image-border {
  width: 40vmin;
  height: auto;
  margin-top: 7vmin;
  border-color: #F2A66E;
  border-radius: 50%;
  border-width: 2.5vmin;
  border-style: solid;
}
.text-box-fill {
  background-color: thistle;
  border-color: thistle;
  border-width: 1vmin;
  border-radius: 5px;
  border-style: solid;
}
.orange-heading {
  color: #F2A66E;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-color: #F2A66E;
  border-width: 1vmin;
  border-radius: 5px;
  border-style: solid;
}
.orange-heading-2 {
  text-align: left;
  color: #F2A66E;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.orange-heading-3 {
  color: #F2A66E;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.left-align {
  text-align: left;
}
